<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"  href="css/AdminLTE.min.css">
</head>
<body class="skin-blue layout-top-nav" style="height: auto; min-height: 100%;">
<div class="wrapper" style="height: auto; min-height: 100%;">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="active">首页</a></li>
                        <li><a href="/article" class="active">文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/askandanswer">问答</a></li>
                        <li><a href="/main">我的主页</a></li>
                    </ul>

                    <form class="navbar-form navbar-left" action="#" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control global-search-input" name="keywords" id="main-search-input" placeholder="Search...">
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="/publish">写文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/ask">提问</a></li>
                    </ul>
                </div>

                <div class="navbar-custom-menu" id="user-nav-wrapper">
                    <ul class="nav navbar-nav" id="user-nav">
                        <!-- 用户 -->
                        <li class="dropdown user user-menu" id="user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/images/logn.png" class="user-image" >
                                <span class="hidden-xs" th:text="${user.username}">iring</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="/images/logn.png" alt="">
                                    <p>
                                        <span th:text="${user.username}">name</span>
                                        <small th:text="${user.email}">email</small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="/article">文章</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="/askandanswer">问答</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="/main">我的主页</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/center" class="btn btn-default btn-flat">个人中心</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">退出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-wrapper" style="min-height: 67px;">
        <div class="container">
            <section class="content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">个人中心</h3>
                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="/main">我的主页</a></li>
                                    <li class="active"><a href="#">我的账号</a>
                                    </li>
                                    <li><a href="#">关系管理</a></li>
                                    <li><a href="#">通知管理</a></li>
                                    <li><a href="#" target="_blank">私信管理</a></li>

                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>

                        <div class="box box-solid  collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">文章管理</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding" style="display: none;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">发表文章</a></li>
                                    <li><a href="#">文章管理</a></li>
                                    <li><a href="#"><i></i>个人分类管理</a></li>
                                    <li><a href="#"><i></i>评论管理</a></li>
                                    <li><a href="#">收藏夹</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="box box-solid collapsed-box">
                            <div class="box-header with-border">
                                <h3 class="box-title">问答管理</h3>
                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                </div>
                            </div>
                            <div class="box-body no-padding" style="display: none;">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">我的问题</a></li>
                                    <li><a href="#">我的回答</a></li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    
                    <div class="col-md-9">
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">我的账号</h3>
                            </div>
                            <div class="box-body" id="right-box-body">
                                <div id="right-box-body-replace">
                                    <div class="nav-tabs-custom" style="box-shadow: 0 0;">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a href="javascript:void(0)" class="tab-a" id="profile">基本资料</a></li>
                                            <li><a href="javascript:void(0)" class="tab-a" id="avatar">我的头像</a></li>
                                            <li><a href="javascript:void(0)" class="tab-a" id="security">账号安全</a></li>
                                        </ul>
                                        <div class="tab-content" id="tab-content">
                                            <div class="tab-pane active">
                                                <form class="form-horizontal userForm">
                                                    <div class="box-body">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">用户名</label>
                                                            <div class="col-sm-6">
                                                                <label class="control-label" th:text="${user.username}">name</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="contact" class="col-sm-2 control-label">联系方式</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="contact" name="contact"  placeholder="如 QQ: 666666（微信同号）">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="contact" class="col-sm-2 control-label">地址</label>
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" id="address" name="address"  placeholder="南昌">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="job" class="col-sm-2 control-label">职业</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control" id="job" name="job">
                                                                    <option value="1" selected="selected">未设置</option>
                                                                    <option value="2">学生</option>
                                                                    <option value="3">Java工程师</option>
                                                                    <option value="4">PHP工程师</option>
                                                                    <option value="5">JS工程师</option>
                                                                    <option value="6">WEB前端工程师</option>
                                                                    <option value="7">Phython工程师</option>
                                                                    <option value="8">移动开发工程师</option>
                                                                    <option value="9">Linux系统工程师</option>
                                                                    <option value="10">交互设计师</option>
                                                                    <option value="11">软件测试工程师</option>
                                                                    <option value="12">UI设计师</option>
                                                                    <option value="13">算法工程师</option>
                                                                    <option value="14">全栈工程师</option>
                                                                    <option value="15">CG影视动画师</option>
                                                                    <option value="16">数据库工程师</option>
                                                                    <option value="17">产品经理</option>
                                                                    <option value="18">页面重构设计</option>
                                                                    <option value="19">其他</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">用户说明</label>

                                                            <div class="col-sm-6">
                                                                <textarea class="form-control" name="profile"  rows="4" placeholder="关于我的一些事儿..."></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-2 col-sm-10">
                                                                <button type="button" class="btn btn-primary" id="profile-btn">保存
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="container" style="text-align: center;">
        <strong>Copyright © 2019 <a href="http://codergroup.cn">CoderGroup</a></strong> <a href="http://www.miitbeian.gov.cn/" class="text-black" target="_blank">赣ICP备17002430号-2</a>
    </div>
</footer>
<input type="hidden" id="uid" th:value="${user.user_id}">

<!-- 提示框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalTitle" style="text-align: center;">
                    提示框
                </h4>
            </div>
            <div id="modalText" class="modal-body">
                提示内容
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" style="color: #337AB7;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal userForm" id="passwordForm" method="post">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                    <h4 class="modal-title">修改密码</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group has-primary has-feedback">
                        <label for="password" class="col-sm-3 control-label">新密码</label>
                        <div class="col-sm-8">
                            <input type="password" id="password" name="password" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="form-group has-primary has-feedback">
                        <label for="confirm_password" class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-8">
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required="required">
                        </div>
                    </div>
                    <div id="msg1"></div>

                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" id="password-form-submit">提交
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="emailModal" tabindex="-1" style="color: #337AB7;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form class="form-horizontal userForm" id="emailForm" method="post">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">
                        <span>×</span>
                    </button>
                    <h4 class="modal-title">更换邮箱</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group has-primary has-feedback">
                        <div class="col-sm-12">
                            <div class="text-info" style="margin-bottom: 10px;">
                                新的电子邮箱需要重新验证哦!
                            </div>
                            <input type="text" id="email" name="email" class="form-control" placeholder="请输入新的邮箱" required="required">
                        </div>
                    </div>
                    <div id="msg2"></div>

                </div>
                <div class="modal-footer">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-primary" id="email-form-submit">提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/adminlte.min.js"></script>
<script>
    $(function () {
        //修改个人信息
        $(document).on("click","#profile-btn",function () {
            var param ={
                "user_id":$("#uid").val(),
                "phone":$("#contact").val(),
                "address":$("#address").val(),
                "description":$("#profile option:selected").text()
            };
            $.ajax({
                method:"POST",
                url:"/modifyUserInfo",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(param),
                success:function (msg) {
                    $("#modalText").html(msg);
                    $("#myModal").modal()
                }
            });
        });

        //修改密码
        $(document).on("click","#password-form-submit",function () {
            var password = $("#password").val();
            var confirm_password = $("#confirm_password").val();
            if(password !== confirm_password){
                $("#msg1").html("两次密码不一致");
            }
            else{
                var param ={
                    "user_id":$("#user_id").val(),
                    "password":password
                };
                $.ajax({
                    url:"/modifyPassword",
                    method:"POST",
                    contentType:"application/json",
                    data:JSON.stringify(param),
                    success:function (msg) {
                        $("#msg1").text(msg);
                    }

                });
            }
        });

        
        $(document).on("click","#security",function () {
            var content=
                '<div class="tab-pane active" id="security-tab">'+
                '<table class="table" border="0">'+
                '<tbody> <tr> <td>'+
                '<i class="glyphicon glyphicon-ok-sign text-success"></i>'+"绑定邮箱"+
                '</td><td>'+
                '<span th:text="${user.email}">'+'</span>'+
                '<span class="text-success">'+"已验证"+'</span>'+
                '</td> <td>'+
                '<a href="javascript:void(0)" data-toggle="modal" data-target="#emailModal" data-backdrop="static">'+"更换邮箱"+'</a>'+
                '</td> </tr>'+
                '<tr>'+
                '<td><i class="glyphicon glyphicon-ok-sign text-success"></i>'+
                "设置密码"+
                '</td>'+
                '<td>'+"已设置"+'</td>'+
                '<td><a href="javascript:void(0)" data-toggle="modal" data-target="#passwordModal" data-backdrop="static">'+"修改密码"+'</a>'+
                '</td>'+
                '</tr>'+
                '</tbody>'+
                '</table>'+
                '</div>'+
                '</div>';
            $("#tab-content").html(content);
        });
    });

</script>

</body>
</html>

