<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BBS</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/skin-blue.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">

</head>

<body class="skin-blue layout-top-nav" style="transform: none; height: auto; min-height: 100%;">

<div class="wrapper" style="transform: none; height: auto; min-height: 100%;">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <!--<a href="/" class="navbar-brand">-->
                        <!--<img src="/images/ncu.png" alt="" height="3r5">-->
                    <!--</a>-->
                    <img  class="navbar-brand" src="/images/ncu.png" alt="" height="160" width="120" style="padding: 8px;">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="active">首页</a></li>
                        <li><a href="/article">文章</a></li>
                        <li><a href="/askandanswer">问答</a></li>
                        <li><a href="/main">我的主页</a></li>
                        <li><a th:href="@{/loginconvert}">管理员登录</a></li>
                    </ul>

                    <form class="navbar-form navbar-left" action="#" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control global-search-input" name="keywords" id="main-search-input" placeholder="Search...">
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="/publish">写文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/ask">提问</a></li>
                    </ul>
                </div>

                <div class="navbar-custom-menu" id="user-nav-wrapper">
                    <ul class="nav navbar-nav" id="mode">
                        <li><a data-toggle="modal" data-target="#login" id="loginModalBtn">登录 </a></li>
                        <li><a href="/register"  id="eroll">注册</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-wrapper" style="transform: none; min-height: 49px;">
        <div class="container" style="transform: none;">
            <section class="content" style="transform: none;">
                <div class="row" style="transform: none;">
                    <div class="col-md-9">
                        <div id="carousel-home-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-home-generic" data-slide-to="0" class=""></li>
                                <li data-target="#carousel-home-generic" data-slide-to="1" class="active"></li>
                                <li data-target="#carousel-home-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active left">
                                    <a href="#" target="_blank">
                                        <img src="/images/lb1.jpg" width="760" height="300" alt="欢迎加入BBS论坛">
                                        <div class="carousel-caption">欢迎加入BBS论坛</div>
                                    </a>
                                </div>
                                <div class="item next left">
                                    <a href="#" target="_blank">
                                        <img src="/images/lb2.jpg" width="760" height="300" alt="谈天说地,畅所欲言">
                                        <div class="carousel-caption">谈天说地,畅所欲言</div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#" target="_blank">
                                        <img src="/images/lb3.jpg" width="760" height="300" alt="分享点滴，记录美好">
                                        <div class="carousel-caption">分享点滴，记录美好</div>
                                    </a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-home-generic" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-home-generic" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>


                        <div id="article-box">
                            <div id="article-box-replace">
                                <div class="box box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">精品文章</h3>
                                    </div>
                                    <div class="box-body" id="box-body" style="padding: 0 10px;">
                                        <ul  class="profile-mine__content mb0">
                                            <li th:each="goodArticle:${goodArticles}">
                                                <div class="row">
                                                    <div class="col-md-12 profile-mine__content--title-warp">
                                                        <p class="nowrap bold" style="font-size:16px;">
                                                            <a th:href="@{'/Articledetail/'+${goodArticle.article_id}}" class="link-primary" th:text="${goodArticle.title}"></a>
                                                        </p>
                                                        <ul class="list-inline" style="font-size: 12px!important;line-height: 30px;">
                                                            <li>
                                                                    <img th:src="@{'/images/'+${goodArticle.uhead}}" alt="" class="img-circle" width="30">
                                                                    <span th:text="${goodArticle.getUname()}"></span>
                                                            </li>
                                                            <li class="pull-right">
                                                                <i class="margin-r-5"th:text="|阅读数(${goodArticle.getCount()})|"></i>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="link-black disabled">
                                                                    <i class="margin-r-5" th:text="|时间${goodArticle.getCreate_time()}|"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

                            <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">热门标签</h3>
                            </div>
                            <div class="box-body" style="padding: 0 10px;">
                                <div class="row">
                                    <div class="col-md-12" style="margin: 5px 0;">
                                        <a class="btn btn-default btn-xs" href="#"  style="margin: 3px;">
                                            公告
                                        </a><a class="btn btn-default btn-xs" href="#"  style="margin: 3px;">
                                        文学
                                    </a><a class="btn btn-default btn-xs" href="#"  style="margin: 3px;">
                                        IT
                                    </a><a class="btn btn-default btn-xs" href="#" style="margin: 3px;">
                                       体育
                                    </a><a class="btn btn-default btn-xs" href="#"  style="margin: 3px;">
                                        娱乐
                                    </a><a class="btn btn-default btn-xs" href="#" style="margin: 3px;">
                                        科技
                                    </a></div>
                                </div>
                            </div>
                        </div><div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">最新问答</h3>
                            </div>
                            <div class="box-body" style="padding: 0 10px;">
                                <ul class="profile-mine__content mb0">
                                    <li th:each="each:${questionDtos}">
                                        <div class="row">
                                            <div class="col-md-12 profile-mine__content--title-warp">
                                                <a class="profile-mine__content--title" th:href="@{'/showQuestion/'+${each.getQuestion().getQuestion_id()}}" target="_blank" th:text="${each.getQuestion().getQuestion_title()}">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="border-bottom: 0;">
                                        <a href="/askandanswer" target="_blank">查看更多</a>
                                    </li>
                                </ul>
                            </div>
                        </div><div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">赏金榜</h3>

                                <!--<div class="box-tools">-->
                                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                                    <!--</button>-->
                                <!--</div>-->
                            </div>
                            <div class="box-body no-padding">
                                <div class="ranking-card-base false">
                                    <div class="ranking-list-base true">
                                        <div class="ranking-list">
                                            <div th:each="p,status:${users}" class="ranking-list-item">
                                                <div class="list-inner">
                                                    <div class="ranking" th:text="${status.count}"></div>
                                                    <div class="avatar">
                                                        <a href="#" target="_blank">
                                                            <img th:src="@{'/images/'+${p.getHead()}}" style="height: 30px; width: 30px;" class="img-circle"></a>
                                                    </div>
                                                    <div class="name-info">
                                                        <div class="name" th:text="${p.getName()}"></div>
                                                        <div class="info" th:text="|${p.getGold()} 声望|"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">联系我们</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <strong><i class="fa fa-qq margin-r-5"></i> QQ交流群</strong>

                                <p class="text-muted">
                                    交流群：<strong>66666666</strong> <br>
                                </p>

                                <hr>
                                <strong><i class="fa fa-wechat margin-r-5"></i> 管理员微信</strong>

                                <p class="text-muted">
                                    微信号：<strong>66666666 </strong>(QQ同号) <br>
                                    遇到问题，可以联系管理员
                                </p>

                            </div>
                            <!-- /.box-body -->
                        </div></div></div>
                </div>

            </section>
        </div>
        <!-- /.container -->
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>

<!--登录框-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                </button>
                <h4 class="modal-title" id="myModalLabel">登录提示：</h4>
            </div>
            <div class="modal-body ">
                <div class="input-group">
                    <span class="input-group-addon" >帐号：</span>
                    <input type="text" class="input-sm" id="username" aria-describedby="basic-addon3" >
                </div>
                <div class="input-group">
                    <span class="input-group-addon">密码：</span>
                    <input type="password" class="input-sm" id="password" aria-describedby="basic-addon3">
                </div>
                还没有账号?<a href="/register" id="btnRegister">立即注册</a>
                <div id="message">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="login_btn">登录</button>
            </div>
        </div>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="/js/index.js"></script>
<script src="/js/script.js"></script>

<script>
    $(function () {
        $(document).ready(function () {
            $.ajax({
                url:"/isLogin",
                method:"POST",
                success:function (data) {
                    if(data['msg'] != null){
                        var content =
                          '<li class ="dropdown user user-menu" id="user-menu">'+
                          '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'+
                         '<img width="25" height="25" class="user-image" src="/images/'+data['msg'].head+'">'+
                          '<span class="hidden-xs">'+data['msg'].username+ '</span></a></li></ul>';
                        $("#mode").html(content);
                    }
                }
            });
        });

        //登录提交
        $(document).on("click", "#login_btn", function () {
            var param={
                username:$("#username").val(),
                password:$("#password").val()
            };

            $.ajax({
                url: "/login",
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(param),
                success: function (data) {
                    if (typeof (data["msg"]) == "string")
                        $("#message").html(data["msg"]);
                   else{
                       $("#login").modal("hide");
                        var content =
                            '<li class ="dropdown user user-menu" id="user-menu">'+
                            '<a href="#" class="dropdown-toggle" data-toggle="dropdown">'+
                            '<img width="25" height="25" class="user-image" href=/images/"'+data['msg'].head+'">'+
                            '<span class="hidden-xs">'+data['msg'].username+ '</span></a></li></ul>';
                        $("#mode").html(content);
                    }
                   history.go(0);
                }
            });
        });
    })
</script>
</body>
</html>