<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/skin-blue.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body class="hold-transition skin-blue layout-top-nav">

<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="active">首页</a></li>
                        <li><a href="/article" class="active">文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/askandanswer">问答</a></li>
                        <li><a href="/main">我的主页</a></li>
                    </ul>

                    <form class="navbar-form navbar-left" action="/search/articles" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control global-search-input" name="keywords"
                                   id="main-search-input"
                                   placeholder="Search...">
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="/publish">写文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/ask">提问</a></li>
                    </ul>
                </div>

                <div class="navbar-custom-menu" id="user-nav-wrapper">
                    <ul class="nav navbar-nav" id="user-nav">
                        <!-- 私信-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" id="message-size-btn" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success"></span>
                            </a>
                        </li>
                        <!-- 通知-->
                        <li class="dropdown notifications-menu">
                            <a href="#" id="notice-size-btn" class="dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="true">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning"></span>
                            </a>
                        </li>

                        <!-- 用户 -->
                        <li class="dropdown user user-menu" id="user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="images/logn.png" class="user-image" width="25" height="25">
                                <span class="hidden-xs" th:text="${user.username}">name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="images/logn.png"
                                         class="user-image" alt=""  onclick="window.location.href='/manage/account/avatar'">
                                    <p>
                                        <span th:text="${user.username}">name</span>
                                        <small th:text="${user.email}"></small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">文章</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">问答</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="/main">我的主页</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="center"
                                           class="btn btn-default btn-flat">个人中心</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">退出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <div class="row">
                    <div class="col-md-3">

                        <div class="box box-solid">
                            <div class="box-body box-profile">
                                <a href="#">
                                    <img class="profile-user-img img-responsive img-circle" src="images/logn.png"
                                         alt="User profile picture">
                                </a>
                                <h3 class="profile-username text-center" th:text="${user.username}"></h3>
                                <p class="text-muted text-center">未设置</p>

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>粉丝</b> <a class="pull-right">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>关注</b> <a class="pull-right">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>声望</b> <a class="pull-right">10</a>
                                    </li>
                                </ul>

                                <div class="clear"></div>
                                <a href="javascript:void(0)" class="btn btn-primary btn-block follow col-md-6" data-uid="202" data-isFollow="0">
                                    <span class="default-text"><b>关注</b></span>
                                    <span class="hover-text"><b>关注</b></span>
                                </a>

                            </div>
                            <!-- /.box-body -->
                        </div>

                        <div class="box box-solid hidden-xs">
                            <div class="box-header with-border">
                                <h3 class="box-title">用户说明</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body profile"></div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->


                        <div class="box box-solid hidden-xs">
                            <div class="box-header with-border">
                                <h3 class="box-title">查看更多</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <strong><i class="fa fa-link margin-r-5"></i> 个人主页</strong>

                                <p class="text-muted"><a href="" target="_blank"></a></p>

                                <hr>
                                <strong><i class="fa fa-github margin-r-5"></i> Github</strong>

                                <p class="text-muted"><a href="" target="_blank"></a></p>
                                <hr>
                                <strong><i class="fa fa-qq margin-r-5"></i>联系方式</strong>
                                <p class="text-muted"><span ></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a th:value='|/articles/${user.user_id}|' id="user_Article" aria-expanded="false">文章</a>
                                </li>
                                <li>
                                    <a th:value='|/findAllRequest/${user.user_id}|' id="user_Question" aria-expanded="false">提问</a>
                                </li>
                                <li>
                                    <a th:value="|/replyAll/${user.user_id}|" id="user_Reply" aria-expanded="false">回答</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="tab-content">
                                <div class="tab-pane active" id="tab-pane">
                                    <div class="profile-mine">
                                        <h4 class="profile-mine__heading"><span>TA 的文章</span></h4>
                                    </div>
                                    <div id="content">

                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </section>
        </div>
        <!-- /.container -->
    </div>
</div>
<footer class="main-footer">
    <div class="container" style="text-align: center;">
        <strong>Copyright &copy; 2018 <a href="http://codergroup.cn">CoderGroup</a></strong> <a href="http://www.miitbeian.gov.cn/" class="text-black" target="_blank">赣ICP备17002430号-2</a>
    </div>
    <!-- /.container -->
</footer>


<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/adminlte.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/script.js"></script>

<script>
    $(function () {
        $(document).on('click',"#user_Article",function () {
            var page = $("#user_Article").attr("value");
            var content ='';
            $.ajax({
                url:page,
                type:"GET",
                success:function (msg) {
                    var obj = msg;
                    var content = '<table class="table table-hover">' +
                        '<thead>' +
                        '<th>文章编号</th><th>文章标题</th><th>文章内容</th><th>创作时间</th><th>操作</th></thead>' + '<tbody>';
                    for (var i in obj) {
                        var text;
                        var time = obj[i].create_time.substring(0,10);
                        if (obj[i].content.length > 8)
                            text = obj[i].content.substring(0, 7) + "...";
                        else
                            text = obj[i].content;
                        content += '<tr><td>' + obj[i].article_id + '</td><td>' + obj[i].title + '</td>' +
                            '<td>' + text + '</td>' +
                            '<td>' + time + '</td>' +
                            '<td>' +
                            '<a type="button" class="btn btn-primary">' + "查看" + '</a>' +
                            '<a type="button" class="btn btn-success">' + "编辑" + '</a>' +
                            '<a type="button" class="btn btn-danger" href="/deleteArticleById"'+obj[i].article_id+'>'+"删除"+'</a>'+
                        '</td></tr>'
                    }
                    content += '</tbody></table>';
                    $("#content").html(content);
                    }
            });
        });

        $(document).on('click',"#user_Question",function () {
            var page = $("#user_Question").attr("value");
            var content ='';
            $.ajax({
                url:page,
                type:"GET",
                success:function (msg) {
                    var obj = msg;
                    var content = '<table class="table table-hover">' +
                        '<thead>' +
                        '<th>提问编号</th><th>提问标题</th><th>提问内容</th><th>时间</th><th>操作</th></thead>' + '<tbody>';
                    for (var i in obj) {
                        var text;
                        console.log(obj[i].time);
                        var time = obj[i].time.substring(0,10);
                        if (obj[i].content.length > 8)
                            text = obj[i].content.substring(0, 7) + "...";
                        else
                            text = obj[i].content;
                        content += '<tr><td>' + obj[i].question_id + '</td><td>' + obj[i].question_title + '</td>' +
                            '<td>' + text + '</td>' +
                            '<td>' + time + '</td>' +
                            '<td>' +
                            '<a type="button" class="btn btn-primary">' + "查看" + '</a>' +
                            '<a type="button" class="btn btn-danger" href="/deleteByQId"'+obj[i].question_id+'>' + "删除" + '</a>'+
                            '</td></tr>'
                    }
                    content += '</tbody></table>';
                    $("#content").html(content);
                }
            });
        });


        $(document).on('click',"#user_Reply",function () {
            var page = $("#user_Reply").attr("value");
            var content ='';
            $.ajax({
                url:page,
                type:"GET",
                success:function (msg) {
                    for(var i in msg){
                        console.log(msg[i].id);
                    }
                    var obj = msg;
                    var content = '<table class="table table-hover">' +
                        '<thead>' +
                        '<th>文章编号</th><th>回复者编号</th><th>回复内容</th><th>回复时间</th><th>操作</th></thead>' + '<tbody>';
                    for (var i in obj) {
                        var text;
                        var time = obj[i].reply_time.substring(0,10);
                        if (obj[i].context.length > 8)
                            text = obj[i].context.substring(0, 7) + "...";
                        else
                            text = obj[i].context;
                        content += '<tr><td>' + obj[i].article_id + '</td><td>' + obj[i].responder_id + '</td>' +
                            '<td>' + text + '</td>' +
                            '<td>' + time + '</td>' +
                            '<td>' +
                            '<a type="button" class="btn btn-primary">' + "查看" + '</a>' +
                            '<a type="button" class="btn btn-danger" href="/deleteReply"'+obj[i].article_id+'>' + "删除" + '</a>'+
                            '</td></tr>'
                    }
                    content += '</tbody></table>';
                    $("#content").html(content);
                }
            });
        });


        $(document).on("click",".btn btn-danger",function(){
           var tr = $(this).parentNode.parentNode;
           $(".table table-honver").removeChild(tr);

        });

    });
</script>


</body>
</html>