<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布文章 -BBS</title>
    <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>

    <script src="/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script>
        $(function () {
            $(document).on('click','#btn',function () {
                var param={
                    title:$("#title").val(),
                    content:$("#description").val(),
                    uid:$("#uid").val(),
                    category_id:$("#categoryId").val()

                };
                $.ajax({
                    url:"/writeArticle",
                    contentType:"application/json",
                    method:"POST",
                    data:JSON.stringify(param),
                    success:function (msg) {

                        $("#modalText").text(msg);

                        $("#myModal").modal()
                    }
                });
            });
        });
    </script>
</head>
<body>


<div th:insert="~{navigation :: nav}"></div>

<!-- 提示框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalTitle" style="text-align: center;">
                    提示框
                </h4>
            </div>
            <div id="modalText" class="modal-body">
                提示内容
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="container-fluid main">
    <ul class="nav nav-tabs">
        <li><a href="/main " target="_blank">我的主页</a></li>
        <li><a href="/index" target="_blank">首页</a></li>

<!--        <li class="pull-right"><a href="#" class="text-muted" title="个人中心" target="_blank"><i class="fa fa-gear"></i></a></li>-->
<!--        <li class="pull-right"><a href="#" target="_blank">我的主页</a></li>-->
    </ul>
</div>
<div class="container-fluid main">


    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布文章</h2>
            <hr>
            <!--管理导航 -->

            <form action="/#" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">帖子标题（简单扼要）:</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题……"
                           autocomplete="off">

                    <input type="hidden" th:value="${user.user_id}" id="uid">
                    <input type="hidden" value="1" id="categoryId">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">文章内容 (必填，请参照右侧提示):</label>
                    <textarea name="description" id="description" th:text="${description}" style="display:none;"
                              class="form-control"
                              cols="30"
                              rows="10"></textarea>
                </div>

                <!--类别组件  -->
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 350,
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入文章内容",
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                        });
                    });
                </script>

                <div class="container-fluid main ">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error != null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="btn" class="btn btn-success btn-publish ">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/adminlte.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>