<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <link rel="stylesheet" href="../static/css/cycle_title_css.css">
    <link rel="stylesheet" href="../static/css/3.3.7bootstrap.min.css">
    <script src="../static/js/2.1.1jquery.min.js"></script>
    <script src="../static/js/bootstrap3.3.7.min.js"></script>
    <script src="../static/js/comment.js"></script>
</head>
<style>
    .top{color: white}
    .cont{margin-left: 25px;}
     .sel_btn{
         height: 21px;
         line-height: 21px;
         padding: 0 11px;
         background: #02bafa;
         border: 1px #26bbdb solid;
         border-radius: 3px;
         /*color: #fff;*/
         display: inline-block;
         text-decoration: none;
         font-size: 12px;
         outline: none;
         float: right;
     }
    .ch_cls{
        background: #e4e4e4;
    }
    .dd{visibility: hidden}
</style>
<body class="hold-transition skin-blue layout-top-nav" style="background-color: #E6E6E6">
<div>
    <nav class="navbar navbar-static-top" style="background-color:#777777; ">
        <div class="container" style="height: 20px">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <!--codegroup图片地址-->
                    <!--<img src="http://cdn2.codergroup.cn/FjbXnMr4E2G1jt4JvsIGhwPXIkmi" alt="" height="25">-->
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="active top">首页</a></li>
                    <li><a href="/article" class="active top">文章 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/askandanswer" class="top">问答</a></li>
                    <li><a href="#" class="top">我的主页</a></li>
                </ul>

                <form class="navbar-form navbar-left" action="" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control global-search-input" name="keywords" id="main-search-input" placeholder="Search...">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="#"  class="top">写文章 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" class="top">提问</a></li>
                </ul>
            </div>
            <div class="navbar-custom-menu" id="user-nav-wrapper" style="float: right">
                <ul class="nav navbar-nav">
                    <li><a id="loginModalBtn"  class="top" >登录 </a></li>
                    <li><a href="/register" target="_blank" class="top">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--------------------------------------------------------------->
<div>
    <div class="col-md-9"style="width: 750px;margin-left: 70px;" >
        <div>
    <!--box-->
        <!--th:each="article:${Articles}"-->
            <div class="post-box-item" style="background: white;border-radius:5px">
                <div  style="width: 720px;background-color: white;border-radius: 5px;">
                    <!--问题标题-->
                    <h4 style="margin-left: 10px;padding-top: 21px; margin-top: 10px" class="cont"><span th:text="${question.question_title}"></span></h4>
                    <span style="color: #9f191f;margin-left:13px;" th:if="${question.wealthy gt 0}">[未解决 &nbsp;&nbsp;赏金：
                        <span th:text="${question.wealthy}"></span><span>]</span>
                    </span>
                    <span style="color: #9f191f;margin-left:13px;" th:if="${question.wealthy eq 0}">[已解决]</span>
                    <span style="margin-left: 10px">发布时间：<span th:text="${question.time}"></span></span>
                    <hr class="col-lg-12 col-md-12 col-xs-12 ">
                    <textarea class="cont" style="margin-left: 10px;background-color: white;border:none;" disabled="disabled" cols="77" rows="10"  th:text="${question.content}"></textarea>
                </div>
                <div class="post-box-footer">
                    <div id="article-info-ul">
                    </div>
                </div>
            </div>

            <!--评论-->
            <div  style="width: 720px;margin-top:20px;background-color: white;border-radius: 5px;">
                <div style="margin-top: 25px" id="comment__div">
                    <div>
                        <h4 style="padding-top: 20px" class="cont">发布回答<br/>
                            <input type="hidden" id="questionId" th:value="${question.question_id}">
                            <textarea style="margin-right: 5px" class="form-control comment" rows="5" id="question_reply"></textarea>
                            <button type="button" class="btn btn-default" style="float: right" onclick="Question_Comment()">回复</button>
                            <hr class="col-lg-12 col-md-12 col-xs-12">
                        </h4>
                    </div>
                </div>
                <br>
                <h4 class="cont">
                    <span th:text="${questionReplyCount}"></span>条回答
                </h4>
                <!---->


                <!--评论循环体-->
                <!--<div class="media cont" th:each="reply:${questionReplies}">-->
                    <!--<hr>-->
                    <!--<div class="media-left">-->
                        <!--&lt;!&ndash;头像&ndash;&gt;-->
                        <!--<img class="media-object img-circle" src="http://img2.imgtn.bdimg.com/it/u=105681142,4090944988&fm=26&gp=0.jpg" width="50">-->
                    <!--</div>-->
                    <!--<div class="media-body">-->
                        <!--&lt;!&ndash;用户名&ndash;&gt;-->
                        <!--<span class="media-heading" th:text="${reply.username}"></span>-->
                        <!--<span style="float: right;font-size:25px;color: #9f191f;margin-left:13px;" th:if="${reply.is_adopt gt 0}">[被采纳 赏金已发放]</span>-->
                        <!--&lt;!&ndash;评论内容&ndash;&gt;-->
                        <!--<h6 class="media-heading" th:text="${reply.reply_content}"></h6>-->
                        <!--&lt;!&ndash;评论时间&ndash;&gt;-->
                        <!--<span style="font-size: 8px;color: #9ea6b9" th:text="${reply.time}"></span>-->
                        <!--&lt;!&ndash;只有作者进入自己的文章并且问题没被采纳，才出现采纳按钮&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="hidden" id="ajaxquestion_Id" th:value="${question.question_id}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="hidden" id="responserName" th:value="${reply.username}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<input type="hidden" id="replyId" th:value="${reply.id}">&ndash;&gt;-->
                        <!--<div th:if="${question.uid} eq ${session.curuser.user_id}">-->
                            <!--<div th:if="${question.wealthy gt 0}">-->
                                <!--&lt;!&ndash;<a th:href="@{'/Articledetail/'+${article.article_id}}" class="title" th:text="${article.title}"></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<button type="button" class="btn btn-default" style="float: right" onclick="accepted()">采纳</button>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div th:class="${question.uid == session.curuser.user_id}? 'dd' : ''">&ndash;&gt;-->
                                <!--<div>-->
                                    <!--<a  class="sel_btn ch_cls" th:href="@{'/Accept'+'_'+${question.question_id} + '_' + ${reply.username} + '_' + ${reply.id}}">-->
                                        <!--采纳-->
                                    <!--</a>-->
                                 <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="media cont" th:each="questionCommentDto:${questionCommentDtos}">
                    <hr style="margin: 9px">
                    <div class="media-left">
                        <!--头像-->
                        <!--<img class="media-object img-circle" src="http://img2.imgtn.bdimg.com/it/u=105681142,4090944988&fm=26&gp=0.jpg" width="50">-->
                        <!--<img th:src="@{'../static/images/'+${golduser.head}}" alt="" class="img-circle" width="40">-->
                        <img class="media-object img-circle" th:src="@{'../static/images/'+${questionCommentDto.getUser().getHead()}}" width="50">

                    </div>
                    <div class="media-body">
                        <!--用户名-->
                        <span class="media-heading" th:text="${questionCommentDto.getQuestionReply().getUsername()}"></span>
                        <span style="font-size: 10px;color:#9f191f;">&nbsp;&nbsp;&nbsp;赏金值：</span><span style="font-size: 10px;color:#9f191f;" th:text="${questionCommentDto.getUser().getGold()}"></span>
                        <span style="float: right;font-size:25px;color: #9f191f;margin-left:13px;" th:if="${questionCommentDto.getQuestionReply().getIs_adopt() gt 0}"><span class="glyphicon glyphicon-ok"></span>[被采纳 赏金已发放]</span>
                        <!--评论内容-->
                        <h6 class="media-heading" th:text="${questionCommentDto.getQuestionReply().getReply_content()}"></h6>
                        <!--评论时间-->
                        <span style="font-size: 8px;color: #9ea6b9" th:text="${questionCommentDto.getQuestionReply().getTime()}"></span>
                        <!--只有作者进入自己的文章并且问题没被采纳，才出现采纳按钮-->
                        <!--<input type="hidden" id="ajaxquestion_Id" th:value="${question.question_id}">-->
                        <!--<input type="hidden" id="responserName" th:value="${reply.username}">-->
                        <!--<input type="hidden" id="replyId" th:value="${reply.id}">-->
                        <div th:if="${question.uid} eq ${session.curuser.user_id}">
                            <div th:if="${question.wealthy gt 0}">
                                <!--<a th:href="@{'/Articledetail/'+${article.article_id}}" class="title" th:text="${article.title}"></a>-->
                                <!--<button type="button" class="btn btn-default" style="float: right" onclick="accepted()">采纳</button>-->
                                <!--<div th:class="${question.uid == session.curuser.user_id}? 'dd' : ''">-->
                                <!--<div th:if="${questionCommentDto.getUser().getUser_id()==question.uid}">-->
                                <div th:class="${questionCommentDto.getUser().getUser_id()==question.uid}? 'dd' : ''">
                                    <a  class="sel_btn ch_cls" th:href="@{'/Accept'+'_'+${question.question_id} + '_' + ${questionCommentDto.getQuestionReply().getUsername()} + '_' + ${questionCommentDto.getQuestionReply().getId()}}">
                                        采纳
                                    </a>
                                </div>
                                <div th:if="${questionCommentDto.getUser().getUser_id()==question.uid}">
                                    <span style="font-size: 12px;color: darkred">不能采纳自己的回复!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->


            </div>
        </div>
    </div>

    <div class="col-md-3" style="margin-left: 20px;margin-right: 20px;background-color: whitesmoke">
        <div class="list-group" style="margin-top: 15px">
            <a href="#" class="list-group-item active">
                <span style="font-size: 13px">公告栏</span>
            </a>
            <a href="#" class="list-group-item"><span style="color: #a94442">[置顶]</span>白日依山尽</a>
            <a href="#" class="list-group-item">黄河入海流</a>
            <a href="#" class="list-group-item">欲穷千里目</a>
            <a href="#" class="list-group-item">更上一层楼</a>
        </div>


        <div class="list-group" style="margin-top: 15px">
            <a href="#" class="list-group-item active" style="margin-bottom: 5px">
                <span style="font-size: 13px">赏金榜</span>
            </a>
            <a href="#" class="" th:each="golduser:${goldUsers}">
                <div style="margin-top: 2px;border-radius: 3px;background-color: white" >
                    <div class="media-left">
                        <a href="#">
                            <!--<img src="http://www.gravatar.com/avatar/3ae8728fec3cd5cbfe99c4b966695f03?s=128&amp;d=identicon&amp;r=PG" alt="" class="img-circle" width="40">-->
                            <img th:src="@{'../static/images/'+${golduser.head}}" alt="" class="img-circle" width="40">
                        </a>
                    </div>
                    <div class="media-body" style="margin-left: 10px;">
                        <h5 class="media-heading" style="margin-top: 3px">昵  称：<span th:text="${golduser.username}"></span></h5>
                        <h5 class="media-heading" style="margin-bottom:3px">赏金值：<span th:text="${golduser.gold}"></span></h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>