<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <link rel="stylesheet" href="../static/css/cycle_title_css.css">
    <link rel="stylesheet" href="../static/css/3.3.7bootstrap.min.css">
    <script src="../static/js/2.1.1jquery.min.js"></script>
    <script src="../static/js/bootstrap3.3.7.min.js"></script>
</head>
<style>
    .top{color: white}
</style>
<body class="hold-transition skin-blue layout-top-nav" style="background-color: #E6E6E6">
<div>
    <nav class="navbar navbar-static-top" style="background-color:#777777; ">
        <div class="container" style="height: 20px">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <!--codegroup图片地址-->
                    <!--<img src="http://cdn2.codergroup.cn/FjbXnMr4E2G1jt4JvsIGhwPXIkmi" alt="" height="25">-->
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="active top">首页</a></li>
                    <li><a href="/article" class="active top">文章 <span class="sr-only">(current)</span></a></li>
                    <li><a href="/askandanswer" class="top">问答</a></li>
                    <li><a href="#" class="top">我的主页</a></li>
                </ul>

                <form class="navbar-form navbar-left" action="" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control global-search-input" name="keywords" id="main-search-input" placeholder="Search...">
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li><a href="#"  class="top">写文章 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" class="top">提问</a></li>
                </ul>
            </div>
            <div class="navbar-custom-menu" id="user-nav-wrapper" style="float: right">
                <ul class="nav navbar-nav">
                    <li><a id="loginModalBtn"  class="top" >登录 </a></li>
                    <li><a href="/register" target="_blank" class="top">注册</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--------------------------------------------------------------->
<div>
    <div class="col-md-9"style="width: 750px;margin-left: 70px;" >

        <!--box-->
        <!--th:each="article:${Articles}"-->
        <div class="post-box-item" style="background: white;border-radius:5px">
            <div  style="width: 720px;background-color: white;border-radius: 5px;">
                <!--帖子标题-->
                <h4 style="margin-left: 10px;padding-top: 21px; margin-top: 10px" class="cont"><span th:text="${question.question_title}"></span></h4>
                <span style="margin-left: 10px">发布时间：<span th:text="${question.time}"></span></span>
                <hr class="col-lg-12 col-md-12 col-xs-12 ">
                <textarea class="cont" style="margin-left: 10px;background-color: white;border:none;" disabled="disabled" cols="77" rows="10"  th:text="${question.content}"></textarea>
            </div>
            <div class="post-box-footer">
                <div id="article-info-ul">
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-3" style="margin-left: 20px;margin-right: 20px;background-color: whitesmoke">
        <div class="list-group" style="margin-top: 15px">
            <a href="#" class="list-group-item active">
                <span style="font-size: 13px">公告栏</span>
            </a>
            <a href="#" class="list-group-item"><span style="color: #a94442">[置顶]</span>白日依山尽</a>
            <a href="#" class="list-group-item">黄河入海流</a>
            <a href="#" class="list-group-item">欲穷千里目</a>
            <a href="#" class="list-group-item">更上一层楼</a>
        </div>


        <div class="list-group" style="margin-top: 15px">
            <a href="#" class="list-group-item active" style="margin-bottom: 5px">
                <span style="font-size: 13px">赏金榜</span>
            </a>
            <a href="#" class="" th:each="golduser:${goldUsers}">
                <div style="margin-top: 2px;border-radius: 3px;background-color: white" >
                    <div class="media-left">
                        <a href="#">
                            <img src="http://www.gravatar.com/avatar/3ae8728fec3cd5cbfe99c4b966695f03?s=128&amp;d=identicon&amp;r=PG" alt="" class="img-circle" width="40">
                        </a>
                    </div>
                    <div class="media-body" style="margin-left: 10px;">
                        <h5 class="media-heading" style="margin-top: 3px"><span th:text="${golduser.username}"></span></h5>
                        <h5 class="media-heading" style="margin-bottom:3px"><span th:text="${golduser.gold}"></span></h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>