<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 问题</title>
    <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>
    <script src="/js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script>
        $(function () {
            $(document).on('click','#btn1',function () {
                var param={
                    question_title:$("#title").val(),
                    content:$("#description").val(),
                    uid:$("#uid").val()
                };
                $.ajax({
                    url:"/generateRequest",
                    contentType:"application/json",
                    method:"POST",
                    data:JSON.stringify(param),
                    success:function (msg) {
                        $("#modalText").html(msg);
                        $("#myModal").modal('show');
                    }
                });
            });
        });
    </script>
</head>
<body>



<div th:insert="~{navigation :: nav}"></div>

<!-- 提示框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalTitle" style="text-align: center;">
                    提示框
                </h4>
            </div>
            <div id="modalText" class="modal-body">
                提示内容
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发布问题</h2>
            <hr>

            <form action="/#" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                           placeholder="问题标题……"
                           autocomplete="off">

                    <input type="hidden" value="2" id="uid">
                    <input type="hidden" value="1" id="categoryId">
                </div>
                <div class="form-group" id="question-editor">
                    <label for="description">问题补充 (必填，请参照右侧提示):</label>
                    <textarea name="description" id="description" th:text="${description}" style="display:none;"
                              class="form-control"
                              cols="30"
                              rows="10"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        var editor = editormd("question-editor", {
                            width: "100%",
                            height: 350,
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入问题描述",
                            imageUpload: true,
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",
                        });
                    });
                </script>


                <div class="container-fluid main ">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"
                                 th:if="${error != null}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="btn1" class="btn btn-success btn-publish ">
                                发布
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>


</body>
</html>