<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html" charset="UTF-8">
    <title>注册界面</title>
    <script src="js/jquery-3.4.1.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/register.css">
</head>
<body>
<script src="js/particle.js"></script>
<script type="text/javascript">

    $(function () {
        $("#check").click(function () {
            var param ={
                username : $("#username").val(),
                password : $("#password").val(),
                email : $("#email").val()
            };
            page = "/reg";
            $.post({
                url: page,
                data: JSON.stringify(param),
                contentType:"application/json",
                success: function (msg) {
                    if (msg==="注册成功") {
                        countTime();
                    } else {
                        $("#Result").html("<p style='color:red'>" + msg + "</p>");
                    }
                }
            });
        });
    });
    function countTime() {
        var seconds = 3;
        $("#Result").html(seconds+"秒后到主界面");
        setInterval(function () {
            seconds--;
            $("#Result").html(seconds+"秒后到主界面");
            if(seconds===0){
                $("#Result").hide();
                window.location="/index";
            }
        },1000);
    }
    
</script>
<div class="register">
    <div class="well" style="height: 400px">
        <div class="item"><h3>注册界面</h3></div>
        <div class="item2">
            <input type="text" class="form-control input-lg" name="username" id="username" placeholder="用户名"><br>
            <input type="password" class="form-control input-lg" name="password" id="password" placeholder="密码"><br>
            <div class="input-group">
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="邮箱">
            </div>
            <div id="Result">
            </div>
            <input type="button" class="btn btn-primary" id="check" value="注册">
        </div>
    </div>
</div>
</body>
</html>