<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        td{
            width: 250px;
        }
    </style>
</head>
<body>
    <div align="center">
        <table align="center" border="2">

            <h3 align="center">文章 >> 信息查看</h3>
            <tr>
                <td><strong>文章编号：</strong></td>
                <td><span th:text="${msg.article_id}"></span></td>
            </tr>

            <tr>
                <td><strong>用户编号：</strong></td>
                <td><span th:text="${msg.uid}"></span></td>
            </tr>

            <tr>
                <td><strong>标题：</strong></td>
                <td><span th:text="${msg.title}"></span></td>
            </tr>

            <tr>
                <td><strong>创建时间：</strong></td>
                <td><span th:text="${#dates.format(msg.create_time, 'yyyy-MM-dd')}"></span></td>
            </tr>
            <tr>
                <td><strong>种类编号：</strong></td>
                <td><span th:text="${msg.category_id}"></span></td>
            </tr>
            <tr>
               <td><strong>是否置顶：</strong></td>
               <td><span th:text="${msg.top}"></span></td>
            </tr>
            <tr>
                <td><strong>用户头像：</strong></td>
                <td><span th:text="${msg.uhead}"></span></td>
            </tr>

        </table>
        <p style="width: 500px;" align="center">
            <strong>【内容】：</strong>
            <span th:text="${msg.content}"></span>
        </p>

        <button class="btn btn-primary"><a style="text-decoration: none;" th:href="@{/manageart}">返回</a></button>
    </div>

</body>
</html>