<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/skin-blue.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body class="hold-transition skin-blue layout-top-nav">

<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/" class="active">首页</a></li>
                        <li><a href="/articles" class="active">文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/questions">问答</a></li>
                        <li><a href="/main">我的主页</a></li>
                    </ul>

                    <form class="navbar-form navbar-left" action="/search/articles" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control global-search-input" name="keywords"
                                   id="main-search-input"
                                   placeholder="Search...">
                        </div>
                    </form>
                    <ul class="nav navbar-nav">
                        <li><a href="/publish">写文章 <span class="sr-only">(current)</span></a></li>
                        <li><a href="/ask">提问</a></li>
                    </ul>
                </div>

                <div class="navbar-custom-menu" id="user-nav-wrapper">
                    <ul class="nav navbar-nav" id="user-nav">
                        <!-- 私信-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" id="message-size-btn" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="header">
                                    您没有未读私信
                                </li>
                                <li id="not-read-message-list">
                                    加载中...
                                </li>
                                <li class="footer"><a href="/manage/messages" target="_blank">查看所有私信</a></li>
                            </ul>
                        </li>
                        <!-- 通知-->
                        <li class="dropdown notifications-menu">
                            <a href="#" id="notice-size-btn" class="dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="true">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu">

                                <li class="header">
                                    您没有未读通知
                                </li>
                                <li id="not-read-notice-list">
                                    加载中...
                                </li>
                                <li class="footer"><a href="/manage/notices">查看所有通知</a></li>
                            </ul>
                        </li>

                        <!-- 用户 -->
                        <li class="dropdown user user-menu" id="user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="images/logn.png" class="user-image" width="25" height="25">
                                <span class="hidden-xs" th:text="${user.username}">name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="images/logn.png"
                                         class="user-image" alt=""  onclick="window.location.href='/manage/account/avatar'">
                                    <p>
                                        <span th:text="${user.username}">name</span>
                                        <small th:text="${user.email}"></small>
                                    </p>
                                </li>
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">文章</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">问答</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="/main">我的主页</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#"
                                           class="btn btn-default btn-flat">个人中心</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">退出</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="content-wrapper">
        <div class="container">
            <section class="content">
                <div class="row">
                    <div class="col-md-3">

                        <div class="box box-solid">
                            <div class="box-body box-profile">
                                <a href="#">
                                    <img class="profile-user-img img-responsive img-circle" src="images/logn.png"
                                         alt="User profile picture">
                                </a>
                                <h3 class="profile-username text-center" th:text="${user.username}"></h3>
                                <p class="text-muted text-center">未设置</p>

                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>粉丝</b> <a class="pull-right">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>关注</b> <a class="pull-right">0</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>声望</b> <a class="pull-right">10</a>
                                    </li>
                                </ul>

                                <div class="clear"></div>
                                <a href="javascript:void(0)" class="btn btn-primary btn-block follow col-md-6" data-uid="202" data-isFollow="0">
                                    <span class="default-text"><b>关注</b></span>
                                    <span class="hover-text"><b>关注</b></span>
                                </a>

                            </div>
                            <!-- /.box-body -->
                        </div>

                        <div class="box box-solid hidden-xs">
                            <div class="box-header with-border">
                                <h3 class="box-title">用户说明</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body profile"></div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->


                        <div class="box box-solid hidden-xs">
                            <div class="box-header with-border">
                                <h3 class="box-title">查看更多</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <strong><i class="fa fa-link margin-r-5"></i> 个人主页</strong>

                                <p class="text-muted"><a href="" target="_blank"></a></p>

                                <hr>
                                <strong><i class="fa fa-github margin-r-5"></i> Github</strong>

                                <p class="text-muted"><a href="" target="_blank"></a></p>
                                <hr>
                                <strong><i class="fa fa-qq margin-r-5"></i>联系方式</strong>
                                <p class="text-muted"><span ></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a th:value='|/articles/${user.user_id}|' id="user_Article" aria-expanded="false">文章</a>
                                </li>
                                <li><a th:value='|/questions/${user.user_id}|' id="user_Question" aria-expanded="false">提问</a></li>
                                <li><a th:value="|/answers/${user.user_id}|" id="user_Reply" aria-expanded="false">回答</a></li>
                            </ul>
                            <div class="blank"></div>
                            <form action="#" method="get" id="article-search-form"
                                  class="input-group input-group-lg search">
                                <input type="hidden" value=""name="category" id="search-category" class="form-control" autocomplete="off">
                                <input type="text" value="" name="keywords"
                                       class="form-control"
                                       id="search-keyword" autocomplete="off"
                                       placeholder="在 TA 的文章中搜索...">
                                <input type="hidden" name="orderby" id="search-order" value="createTime"
                                       class="form-control"
                                       autocomplete="off">
                                <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary" id="search-btn">搜索一下</button>
                                        </span>
                            </form>
                            <div class="blank"></div>

                            <div class="tab-content" id="tab-content">
                                <div class="tab-pane active" id="tab-pane">

                                    <div class="profile-mine">
                                        <h4 class="profile-mine__heading"><span>TA 的文章</span>
                                            <div class="pull-right profile-mine__heading--filter">
                                                <span>排序: </span>
                                                <div class="btn-group btn-group-xs" id="sort-list">
                                                    <a class="btn btn-default active" href="javascript:void(0)" role="button" data-orderby="createTime">时间</a>
                                                    <a class="btn btn-default" href="javascript:void(0)"
                                                       role="button" data-orderby="zanSize">得票</a>
                                                    <a class="btn btn-default" href="javascript:void(0)"
                                                       role="button" data-orderby="viewSize">阅读</a>
                                                    <a class="btn btn-default" href="javascript:void(0)"
                                                       role="button" data-orderby="commentSize">评论</a>
                                                </div>
                                            </div>
                                        </h4>
                                        <ul class="profile-mine__content">

                                        </ul>
                                    </div>

                                    <div class="empty-data" id="data">
                                        空空如也！
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

            </section>
        </div>
        <!-- /.container -->
    </div>
</div>
<footer class="main-footer">
    <div class="container" style="text-align: center;">
        <strong>Copyright &copy; 2018 <a href="http://codergroup.cn">CoderGroup</a></strong> <a href="http://www.miitbeian.gov.cn/" class="text-black" target="_blank">赣ICP备17002430号-2</a>
    </div>
    <!-- /.container -->
</footer>

<div class="modal fade in" id="loginModal">
    <div class="modal-dialog modal-sm" style="width:350px;">
        <div class="modal-content" style="border:none;">
            <div class="modal-header">
                <button type="button" id="login_close" class="close" data-dismiss="modal"><span
                        aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="loginModalLabel" style="font-size: 18px;">快速登录</h4>
            </div>
            <div class="modal-body" id="login-modal-body">
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/adminlte.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>