<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>BBS论坛</title>
    <!-- Bootstrap core CSS -->
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="asserts/css/signin.css" th:href="@{/static/asserts/css/signin.css}" rel="stylesheet">

</head>


<body class="text-center">
    <form class="form-signin" action="/user/register" th:method="post">

        <img class="mb-4" th:src="@{/static/asserts/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal" >Register</h1>

        <label class="sr-only">Account</label>
        <input type="text" name="account" class="form-control" placeholder="Account" required="">
        <label class="sr-only">Username</label>
        <input type="text" name="username" class="form-control" placeholder="Username" required="">
        <label class="sr-only" th:text="#{login.Password}">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required="">
        <label class="sr-only" th:text="#{login.Password}">Passwordagain</label>
        <input type="password" name="passwordagain" class="form-control" placeholder="Passwordagain" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">sign up</button>
        <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    </form>

</body>
</html>

