<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <ul class="nav nav-tabs">
        <li><a href="/manage/articles" target="_blank">文章管理</a></li>
        <li><a href="/manage/categorys" target="_blank">分类管理</a></li>
        <li><a href="/manage/comments" target="_blank">评论管理</a></li>
        <li><a href="/manage/bookmarks" target="_blank">收藏夹</a></li>
        <li class="pull-right"><a href="/manage/account" class="text-muted" title="个人中心" target="_blank"><i class="fa fa-gear"></i></a></li>
        <li class="pull-right"><a href="/phantom2" target="_blank">我的主页</a></li>
    </ul>
</div>


</body>
</html>